*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
}
li {
  list-style-type: none;
}

.container {
  padding: 2em;
  width: 80%;
  max-width: 1200px;
  margin: 1em auto;
  background-color: #f3f5f8;
  box-shadow: 5px 5px 10px rgb(69, 66, 66);
}
.list-item {
  box-shadow: none;
  background-color: white;
  font-weight: 700;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}

button {
  padding: 0.5em 1em;
  margin-right: 2em;
  border-radius: 1em;
  outline: none;
  border: 0.3px solid gray;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: opacity 0.5s;
}
button:hover {
  opacity: 0.7;
}

.add-button {
  background-color: rgb(220, 65, 65);
}

.sub-button {
  background-color: green;
}

.reset-button {
  background-color: rgb(38, 136, 223);
}

.complete {
  box-shadow: 5px 5px 10px rgb(8, 91, 30);
}
.incomplete {
  box-shadow: 5px 5px 10px rgb(238, 9, 9);
}
